bumpversion==0.5.3
wheel==0.31.1
watchdog==0.9.0
flake8==3.5.0
coverage==4.5.1
Sphinx==1.8.1
sphinx-rtd-theme==0.4.1
twine==3.4.1
sphinx-autobuild==0.7.1
snakeviz==1.0.0
asv==0.3
nbdime==1.0.2
nbval==0.9.1
pytest==3.8.1